* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #333;
  color: #fff;
  font-family: 'Robot', "Consolas", "Microsoft Yahei", Arial, monospace;
  -webkit-transition: opacity ease-in 0.5s;
  -o-transition: opacity ease-in 0.5s;
  transition: opacity ease-in 0.5s;
}
body[unresolved] {
  opacity: 0;
  background: #333333 url(favicon.png) no-repeat center;
  -moz-background-size: 50%;
  -webkit-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
}
body[unresolved] .bg-layer {
  opacity: 0;
  -webkit-transform: scale3d(0.9, 0.9, 0);
  transform: scale3d(0.9, 0.9, 0);
}
.bg-layer {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: top center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: transform 0.8s ease-in 0.5s, opacity 0.5s ease-in 0.8s;
  -moz-transition: transform 0.8s ease-in 0.5s, opacity 0.5s ease-in 0.8s;
  -o-transition: transform 0.8s ease-in 0.5s, opacity 0.5s ease-in 0.8s;
  transition: transform 0.8s ease-in 0.5s, opacity 0.5s ease-in 0.8s;
}
.output {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}
.output .inner {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 2em;
}
.output .line {
  width: 4em;
  margin: 1em auto;
  height: 0;
  overflow: hidden;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  opacity: 0.8;
}
.item {
  position: relative;
  z-index: 1;
}
.item .clock {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 12em;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}
.item .clock.y-time .num {
  font-size: 4em;
}
.item .clock span {
  display: block;
  margin: auto;
}
.item .clock label {
  display: inline-block;
  white-space: nowrap;
  font-size: 0.8em;
  user-select: none;
  margin-bottom: 10px;
  opacity: 0.8;
}
.mask {
  position: absolute;
  top: 70%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
}
.form {
  display: block;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=0);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.form .form-box {
  position: relative;
  z-index: 1;
  margin: 10px;
}
.form input {
  border-width: 0 0 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0);
  display: block;
  width: 100%;
  color: #fff;
  font-size: 2em;
  outline: none;
  padding-right: 35px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.form input:focus {
  border-color: #fff;
}
.form input::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form input:-ms-input-placeholder {
  color: #999999;
}
.form input::-webkit-input-placeholder {
  color: #999999;
}
.form button {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  border: 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-top: -2px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 30px;
  height: 30px;
  outline: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.form button:hover,
.form button:focus {
  background-color: rgba(255, 255, 255, 0.8);
}
.form button:active {
  -webkit-transform: scale3d(0.8, 0.8, 0);
  transform: scale3d(0.8, 0.8, 0);
}
.form .search-by {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: -2px;
  padding: 0 10px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  line-height: 25px;
}
.form .search-by:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.form .search-by.baidu {
  color: #fff;
}
.form .search-by.baidu:after {
  background: #2932e1;
  color: #ffffff;
}
.form .search-by.google {
  color: #fff;
}
.form .search-by.google:after {
  background: #db4a39;
  color: #ffffff;
}
.form .search-by.bing {
  color: #fff;
}
.form .search-by.bing:after {
  background: #0c8484;
  color: #ffffff;
}
.show-tip .form .search-by {
  opacity: 1;
  visibility: visible;
}
.show-tip .form .search-by:after {
  bottom: 0;
}
.get-form .form {
  height: 50%;
}
