/* 登录注册 */
.login-layout,
.register-layout {
    /* --layout-bg: url('//api.paugram.com/bing') no-repeat center/cover; */
    --content-bg: rgba(255, 255, 255, 0.5);
    --content-box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.4);
    --content-border-radius: 8px;
    --content-backdrop-filter: blur(20px);
    --content-padding: 20px;
}

.login-layout .wrapper,
.register-layout .wrapper {
    width: 320px;
}

@media (prefers-color-scheme: dark) {

    .login-layout,
    .register-layout {
        --content-bg: rgba(0, 0, 0, 0.6);
        --content-box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.2), inset 0 0 1px 1px rgba(255, 255, 255, 0.14);
    }
}